<!DOCTYPE html>

<% include ./head.ejs %>
<html>
    <body>
        <div style="font-size: 30px" style="padding: 30px">
            <a href="../" type=""> 도서구매사이트 </a>
        </div>
        <a href="/basket" type="button" class="btn btn-primary">장바구니</a>
        <a href="/mypage" type="button" class="btn btn-primary">마이페이지</a>
        <a href="/order/orderHistory" type="button" class="btn btn-primary"
            >주문내역</a
        >
        <a href="/user/signin" type="button" class="btn btn-primary"
            >로그아웃</a
        >

        <div class="input-group" style="padding: 20px">
            <span class="input-group-text">아이디</span>

            <span class="input-group-text"></span>
        </div>

        <div class="input-group" style="padding: 10px 20px 30px 20px">
            <span class="input-group-text">장바구니 페이지</span>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">주문번호</th>
                    <th scope="col">주문날짜</th>
                    <th scope="col">주소</th>
                    <th scope="col">총 금액</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% for (var i = 0; i < showOrder.length; i++) { %>
                <tr>
                    <th scope="row"><%=showOrder[i].order_id%></th>
                    <td><%=showOrder[i].order_date%></td>
                    <td>
                        <%=showOrder[i].order_basicaddreess%>
                        <%=showOrder[i].order_detailaddress%>
                    </td>
                    <td><%=showOrder[i].order_price%></td>
                    <td>
                        <form
                            action="/order/orderHistoryDetail/<%=showOrder[i].order_id%>"
                            method="post"
                        >
                            <button type="submit" class="btn btn-success">
                                상세보기
                            </button>
                        </form>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </body>
</html>
